// Methods
$_color-post: #97c476;
$_color-get: #87a0cc;
$_color-put: #e6ac64;
$_color-delete: #ed5444;
$_color-head: #666666;
$_color-patch: #89c6c4;
$_color-disabled: #ebebeb;
$_color-options: #0d5aa7;

$methods: (post: $_color-post),(get: $_color-get), (put: $_color-put),(delete: $_color-delete),(head: $_color-head),(patch: $_color-patch),(deprecated: $_color-disabled),(options: $_color-options)
